Here i display the dataset as given to us (the first 50 entries)

In [54]:
import pandas as pd
#we allow the first 250 rows to be shown
pd.set_option('display.max_rows', 250)

In [55]:


df = pd.read_csv('Ozdb_fivepoints_vo3_2019-2020_vo4_2020-2021.csv', delimiter=';')
df.head(50)

,primary,idll_vo3lv,name,value,timestamp
0,36,1,patternsm,"0,0,1,0,0,0,1,0",2020-03-09 09:32:32
1,37,1,timestampsm,2520,2020-03-09 09:32:32
2,38,1,statuscl,"1,1",2020-03-09 09:32:32
3,39,1,numbercl,"3,7",2020-03-09 09:32:32
4,40,1,timestampcl,"1583742751461,1583742751869",2020-03-09 09:32:32
5,41,1,timestampload,1583742749790,2020-03-09 09:32:32
6,47,1,patternsm,"1,1,0,0,0,0,0,0",2020-03-09 09:32:35
7,48,1,timestampsm,2576,2020-03-09 09:32:35
8,49,1,statuscl,"1,1",2020-03-09 09:32:35
9,50,1,numbercl,"2,1",2020-03-09 09:32:35
10,51,1,timestampcl,"1583742753766,1583742754238",2020-03-09 09:32:35
11,52,1,timestampload,1583742752391,2020-03-09 09:32:35
12,53,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:37
13,54,1,timestampsm,2541,2020-03-09 09:32:37
14,55,1,statuscl,"1,1",2020-03-09 09:32:37
15,56,1,numbercl,"3,4",2020-03-09 09:32:37
16,57,1,timestampcl,"1583742756412,1583742756876",2020-03-09 09:32:37
17,58,1,timestampload,1583742755058,2020-03-09 09:32:37
18,59,1,patternsm,"0,0,0,0,0,1,0,1",2020-03-09 09:32:40
19,60,1,timestampsm,2540,2020-03-09 09:32:40
20,61,1,statuscl,"1,1",2020-03-09 09:32:40
21,62,1,numbercl,"8,6",2020-03-09 09:32:40
22,63,1,timestampcl,"1583742759029,1583742759476",2020-03-09 09:32:40
23,64,1,timestampload,1583742757674,2020-03-09 09:32:40
24,65,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:42
25,66,1,timestampsm,2384,2020-03-09 09:32:42
26,67,1,statuscl,"1,1",2020-03-09 09:32:42
27,68,1,numbercl,"4,3",2020-03-09 09:32:42
28,69,1,timestampcl,"1583742761381,1583742762222",2020-03-09 09:32:42
29,70,1,timestampload,1583742760309,2020-03-09 09:32:42
30,7585,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:08
31,7586,1,timestampsm,6306,2020-03-09 11:01:08
32,7587,1,statuscl,NaN,2020-03-09 11:01:08
33,7588,1,numbercl,NaN,2020-03-09 11:01:08
34,7589,1,timestampcl,NaN,2020-03-09 11:01:08
35,7590,1,timestampload,1583748062089,2020-03-09 11:01:08
36,7591,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:10
37,7592,1,timestampsm,1944,2020-03-09 11:01:10
38,7593,1,statuscl,NaN,2020-03-09 11:01:10
39,7594,1,numbercl,NaN,2020-03-09 11:01:10
40,7595,1,timestampcl,NaN,2020-03-09 11:01:10
41,7596,1,timestampload,1583748068492,2020-03-09 11:01:10
42,7597,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:11
43,7598,1,timestampsm,988,2020-03-09 11:01:11
44,7599,1,statuscl,NaN,2020-03-09 11:01:11
45,7600,1,numbercl,NaN,2020-03-09 11:01:11
46,7601,1,timestampcl,NaN,2020-03-09 11:01:11
47,7602,1,timestampload,1583748070542,2020-03-09 11:01:11
48,7603,1,patternsm,"0,0,1,0,0,0,0,0",2020-03-09 11:01:13
49,7604,1,timestampsm,2031,2020-03-09 11:01:13

I found this data to be very incomprehensible. the name column has 6 possible vlaues which i am used to seeing in different columns, so i did that next

In [56]:

df_pivoted = df.pivot(index=['primary', 'idll_vo3lv'], columns='name', values='value')
df_pivoted = df_pivoted.rename(columns={'idll_vo3lv': 'student_id'})
df.head(55)

,primary,idll_vo3lv,name,value,timestamp
0,36,1,patternsm,"0,0,1,0,0,0,1,0",2020-03-09 09:32:32
1,37,1,timestampsm,2520,2020-03-09 09:32:32
2,38,1,statuscl,"1,1",2020-03-09 09:32:32
3,39,1,numbercl,"3,7",2020-03-09 09:32:32
4,40,1,timestampcl,"1583742751461,1583742751869",2020-03-09 09:32:32
5,41,1,timestampload,1583742749790,2020-03-09 09:32:32
6,47,1,patternsm,"1,1,0,0,0,0,0,0",2020-03-09 09:32:35
7,48,1,timestampsm,2576,2020-03-09 09:32:35
8,49,1,statuscl,"1,1",2020-03-09 09:32:35
9,50,1,numbercl,"2,1",2020-03-09 09:32:35
10,51,1,timestampcl,"1583742753766,1583742754238",2020-03-09 09:32:35
11,52,1,timestampload,1583742752391,2020-03-09 09:32:35
12,53,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:37
13,54,1,timestampsm,2541,2020-03-09 09:32:37
14,55,1,statuscl,"1,1",2020-03-09 09:32:37
15,56,1,numbercl,"3,4",2020-03-09 09:32:37
16,57,1,timestampcl,"1583742756412,1583742756876",2020-03-09 09:32:37
17,58,1,timestampload,1583742755058,2020-03-09 09:32:37
18,59,1,patternsm,"0,0,0,0,0,1,0,1",2020-03-09 09:32:40
19,60,1,timestampsm,2540,2020-03-09 09:32:40
20,61,1,statuscl,"1,1",2020-03-09 09:32:40
21,62,1,numbercl,"8,6",2020-03-09 09:32:40
22,63,1,timestampcl,"1583742759029,1583742759476",2020-03-09 09:32:40
23,64,1,timestampload,1583742757674,2020-03-09 09:32:40
24,65,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:42
25,66,1,timestampsm,2384,2020-03-09 09:32:42
26,67,1,statuscl,"1,1",2020-03-09 09:32:42
27,68,1,numbercl,"4,3",2020-03-09 09:32:42
28,69,1,timestampcl,"1583742761381,1583742762222",2020-03-09 09:32:42
29,70,1,timestampload,1583742760309,2020-03-09 09:32:42
30,7585,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:08
31,7586,1,timestampsm,6306,2020-03-09 11:01:08
32,7587,1,statuscl,NaN,2020-03-09 11:01:08
33,7588,1,numbercl,NaN,2020-03-09 11:01:08
34,7589,1,timestampcl,NaN,2020-03-09 11:01:08
35,7590,1,timestampload,1583748062089,2020-03-09 11:01:08
36,7591,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:10
37,7592,1,timestampsm,1944,2020-03-09 11:01:10
38,7593,1,statuscl,NaN,2020-03-09 11:01:10
39,7594,1,numbercl,NaN,2020-03-09 11:01:10
40,7595,1,timestampcl,NaN,2020-03-09 11:01:10
41,7596,1,timestampload,1583748068492,2020-03-09 11:01:10
42,7597,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:11
43,7598,1,timestampsm,988,2020-03-09 11:01:11
44,7599,1,statuscl,NaN,2020-03-09 11:01:11
45,7600,1,numbercl,NaN,2020-03-09 11:01:11
46,7601,1,timestampcl,NaN,2020-03-09 11:01:11
47,7602,1,timestampload,1583748070542,2020-03-09 11:01:11
48,7603,1,patternsm,"0,0,1,0,0,0,0,0",2020-03-09 11:01:13
49,7604,1,timestampsm,2031,2020-03-09 11:01:13
50,7605,1,statuscl,1,2020-03-09 11:01:13
51,7606,1,numbercl,3,2020-03-09 11:01:13
52,7607,1,timestampcl,1583748073331,2020-03-09 11:01:13
53,7608,1,timestampload,1583748071629,2020-03-09 11:01:13
54,7609,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:08:17

next i want to know how many different unique students made this test

In [57]:
df['idll_vo3lv'].nunique()

4551

Wouter made the dataset better and turned it into what we need

In [59]:
#make the df now procesed_dataset.csv
df = pd.read_csv('processed_dataset.csv', delimiter=',')
df['timestampsm'] = df['timestampsm'].apply(lambda x: x/1000)


#only show patternsm, numbercl and timestampsm where timestamp is greater than variable x

x=180
df = df[df['timestampsm'] > x]

#only show patternsm, numbercl and timestampsm
df = df[['patternsm', 'numbercl', 'timestampsm', 'idll_vo3lv']]
df.head(200)

KeyError: "['idll_vo3lv'] not in index"

In [ ]:
df['statuscl_char_count'] = df['numbercl'].apply(lambda x: len(str(x).split(',')))
df.head(200)
#we count the number of characters in the numbercl column and put it in a new column called statuscl_char_count

,patternsm,numbercl,timestampsm,statuscl_char_count,has_repeated_numbers
4025,"1,0,0,0,1,0,0,0","[5, 5, 5, 1]",1850.442,4,True
4980,"0,0,1,0,0,0,0,1","[3, 8]",396.624,2,False
5832,"1,0,0,1,0,0,1,0","[1, 7, 4]",1904.560,3,False
34470,"1,0,1,0,1,1,0,0","[1, 5, 6, 3]",441.765,4,False
34593,"1,1,1,0,0,1,1,1","[1, 8, 2, 2, 6, 7, 2, 3]",1517.530,8,True
36590,"1,0,0,1,1,1,0,1","[1, 5, 4, 7, 7, 8, 6]",3910.989,7,True
37642,"0,0,1,0,0,1,0,0","[6, 6, 6, 3]",8372.758,4,True
38200,"1,0,1,0,0,1,0,1","[1, 6, 8, 3]",1787.676,4,False
40637,"0,1,0,0,0,0,0,0",[2],420.418,1,False
41540,"1,0,1,0,0,0,0,0","[1, 3]",225.686,2,False
44458,"1,1,0,0,1,1,1,0","[5, 1, 6, 2, 7]",1498.973,5,False
45612,"1,0,0,1,0,0,1,0","[1, 7, 4]",65019.152,3,False
47017,"1,0,1,1,0,0,0,0","[8, 3, 8, 1, 4]",243.795,5,True
49059,"1,0,0,0,0,0,0,0",[1],3328.978,1,False
52055,"0,0,0,0,1,1,0,0","[6, 5]",182.290,2,False
53287,"1,0,0,1,1,0,1,1","[8, 4, 1, 5, 7]",247.420,5,False
62891,"0,0,0,1,1,0,1,0","[7, 5, 4]",18445.652,3,False
66038,"0,0,1,0,0,0,0,0",[3],82385.047,1,False
69240,"1,0,0,0,1,1,0,0","[1, 5, 6]",342.870,3,False
82991,"1,0,0,0,0,0,0,0",[1],6730.917,1,False
87341,"1,0,0,0,0,0,0,0",[1],255.697,1,False
103315,"0,1,1,0,0,0,0,0","[2, 3]",7386.105,2,False
107006,"1,0,0,0,0,0,0,1","[1, 8]",290.769,2,False
110218,"1,1,1,1,1,1,1,1","[1, 2, 3, 8, 5, 6, 7, 5, 5, 4]",242.871,10,True
112059,"1,0,0,0,0,0,1,0","[1, 7]",9277.724,2,False
113175,"1,1,0,1,0,1,0,1","[2, 4, 8, 1, 6]",27119.102,5,False
118520,"1,0,0,0,0,1,1,0","[7, 6, 1]",226.287,3,False
125126,"0,1,0,0,0,0,0,0",[2],279.218,1,False
126021,"1,0,0,0,1,1,0,0","[6, 1, 6, 5, 6]",346.173,5,True
136026,"0,1,0,0,0,0,0,0",[2],183.513,1,False
137990,"1,0,0,0,0,0,0,0",[1],74144.882,1,False
140486,"0,0,1,0,0,0,0,0",[3],315.606,1,False
147035,"1,1,0,0,1,0,0,0","[1, 2, 5]",4088.603,3,False
148247,"1,1,0,0,1,1,1,1","[6, 5, 7, 6, 6, 2, 1, 8]",19612.283,8,True
148248,"1,1,0,0,1,1,1,1","[6, 5, 7, 6, 6, 2, 1, 8]",19613.030,8,True
154570,"0,0,0,0,0,0,1,0",[7],224.128,1,False
156907,"1,1,0,1,0,0,0,0","[1, 2, 4]",187.520,3,False
167760,"0,0,0,0,0,1,0,1","[8, 2, 6, 2]",692.015,4,True
174176,"0,0,0,0,0,1,1,0","[6, 7]",245.492,2,False
176370,"1,0,0,0,1,0,0,0","[1, 5]",322.941,2,False
177142,"1,0,0,0,1,0,0,1","[1, 5, 8]",468.608,3,False
178090,"0,0,1,0,0,0,1,0","[7, 3]",684.578,2,False
178186,"0,1,0,0,0,1,1,0","[2, 6, 7, 7, 7]",22464.399,5,True
179485,"1,1,1,0,0,0,0,1","[6, 8, 6, 1, 2, 3]",240.922,6,True
179486,"1,1,1,0,0,0,0,1","[6, 8, 6, 1, 2, 3]",241.170,6,True
179699,"1,1,0,0,0,1,0,0","[1, 6, 2]",295.448,3,False
179745,"0,0,0,0,1,0,0,0",[5],239.278,1,False
188078,"0,1,0,0,0,0,0,1","[2, 8, 3, 3, 3, 3]",224.512,6,True
188510,"1,0,0,1,1,1,1,0","[1, 6, 5, 7, 4]",1341.988,5,False
188515,"1,1,1,1,1,1,1,1","[1, 1, 6, 2, 7, 3, 8, 4, 5, 1]",1428.028,10,True
188516,"1,1,1,1,1,1,1,1","[1, 6, 5, 4, 8, 3, 7, 2]",1437.985,8,False
188518,"0,1,0,0,0,1,0,0","[6, 2]",1405.486,2,False
188527,"1,1,1,1,1,1,1,1","[8, 3, 2, 1, 5, 7, 6, 4]",1443.606,8,False
188530,"1,0,0,1,1,0,0,1","[1, 5, 4, 8]",1438.934,4,False

In [ ]:
import pandas as pd

# Assuming df is your DataFrame

# Drop rows with NaN in 'numbercl'
df = df.dropna(subset=['numbercl'])

# Split 'numbercl' and convert to integers
df['numbercl'] = df['numbercl'].str.split(',').apply(lambda x: [int(i) for i in x])

# Check for duplicates in 'numbercl'
df['has_repeated_numbers'] = df['numbercl'].apply(lambda x: len(x) != len(set(x)))

# Filter rows with repeated numbers in 'numbercl'
filtered_df = df[df['has_repeated_numbers']]

filtered_df

,patternsm,numbercl,timestampsm,statuscl_char_count,has_repeated_numbers
4025,"1,0,0,0,1,0,0,0","[5, 5, 5, 1]",1850.442,7,True
34593,"1,1,1,0,0,1,1,1","[1, 8, 2, 2, 6, 7, 2, 3]",1517.530,15,True
36590,"1,0,0,1,1,1,0,1","[1, 5, 4, 7, 7, 8, 6]",3910.989,13,True
37642,"0,0,1,0,0,1,0,0","[6, 6, 6, 3]",8372.758,7,True
47017,"1,0,1,1,0,0,0,0","[8, 3, 8, 1, 4]",243.795,9,True
110218,"1,1,1,1,1,1,1,1","[1, 2, 3, 8, 5, 6, 7, 5, 5, 4]",242.871,19,True
126021,"1,0,0,0,1,1,0,0","[6, 1, 6, 5, 6]",346.173,9,True
148247,"1,1,0,0,1,1,1,1","[6, 5, 7, 6, 6, 2, 1, 8]",19612.283,15,True
148248,"1,1,0,0,1,1,1,1","[6, 5, 7, 6, 6, 2, 1, 8]",19613.030,15,True
167760,"0,0,0,0,0,1,0,1","[8, 2, 6, 2]",692.015,7,True
178186,"0,1,0,0,0,1,1,0","[2, 6, 7, 7, 7]",22464.399,9,True
179485,"1,1,1,0,0,0,0,1","[6, 8, 6, 1, 2, 3]",240.922,11,True
179486,"1,1,1,0,0,0,0,1","[6, 8, 6, 1, 2, 3]",241.170,11,True
188078,"0,1,0,0,0,0,0,1","[2, 8, 3, 3, 3, 3]",224.512,11,True
188515,"1,1,1,1,1,1,1,1","[1, 1, 6, 2, 7, 3, 8, 4, 5, 1]",1428.028,19,True