In [ ]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
print("scikit-learn version:", sklearn.__version__)     # 1.1.3
print("pandas version:", pd.__version__)            # 1.5.1
print("seaborn version:", sns.__version__)

# ðŸ“¦ Data provisioning

In [ ]:
df1 = pd.read_csv("big5.csv", sep=';', index_col=0)
df2= pd.read_csv("eindtoets.csv",sep=';', index_col=0)
df3 = pd.read_csv("Ozdb_fivepoints_vo3_2019-2020_vo4_2020-2021.csv", sep=';', index_col=0)

print(df1.shape)
print(df2.shape)
print(df3.shape)

In [4]:
df1.head()

,karak2_vo3lv,karak6_vo3lv,karak12_vo3lv,karak50_vo3lv,karak92_vo3lv,karak87_vo3lv,karak8_vo3lv,karak88b_vo3lv,karak16_vo3lv,karak20_vo3lv,...,karak96_vo3lv,karak16b_vo3lv,karak97_vo3lv,karak2b_vo3lv,karak98_vo3lv,open,cons,extra,agree,neur
idll_vo3lv,,,,,,,,,,,,,,,,,,,,,
6730,3.0,1.0,0.0,3.0,2.0,2.0,1.0,2.0,3.0,0.0,...,3.0,1.0,3.0,2.0,3.0,0.141014,-1.257210,1.025870,0.116562,-0.524458
5275,2.0,1.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,3.0,2.0,2.0,-0.048875,-0.805381,-0.051349,-1.047587,0.359475
3793,3.0,1.0,3.0,3.0,3.0,2.0,2.0,2.0,3.0,2.0,...,2.0,2.0,3.0,2.0,1.0,0.139274,-0.781259,-0.453348,-0.098153,0.433170
4859,4.0,3.0,1.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0,...,0.0,4.0,0.0,3.0,1.0,0.512324,0.793606,-0.263814,-1.929913,-0.912428
5267,3.0,3.0,0.0,3.0,3.0,2.0,1.0,2.0,3.0,2.0,...,4.0,1.0,3.0,2.0,1.0,-0.036491,-0.086804,1.211602,0.601287,0.258669

In [5]:
df2.head()

,schooljaar,standaardscore,ond_opgaves8000,ond_percgoed8000,ond_opgaves8001,ond_percgoed8001,ond_opgaves8002,ond_percgoed8002
idll_vo3lv,,,,,,,,
6730,2016-2017,537,106,78.5,54,63.5,56.0,62.2
4859,2016-2017,515,50,37.0,39,45.9,50.0,55.6
5543,2016-2017,541,111,82.2,62,72.9,NaN,NaN
3328,2016-2017,530,69,51.1,69,81.2,41.0,45.6
2649,2016-2017,519,81,60.0,20,23.5,55.0,61.1

In [6]:
df3.head()

,idll_vo3lv,name,value,timestamp
primary,,,,
36,1,patternsm,"0,0,1,0,0,0,1,0",2020-03-09 09:32:32
37,1,timestampsm,2520,2020-03-09 09:32:32
38,1,statuscl,"1,1",2020-03-09 09:32:32
39,1,numbercl,"3,7",2020-03-09 09:32:32
40,1,timestampcl,"1583742751461,1583742751869",2020-03-09 09:32:32